@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!-- Page-content area start  -->
<div class="Page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-Left wow fadeInLeft" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="banner-block banner-block-2">
                        <div class="sppb-addon-content">
                            <a href="about-us.html#" target="_blank"><img alt="" src="~/img/corporatebg.jpg" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="ap-right wow fadeInRight" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="about-us-info">
                        <h2 class="ainfo-addon-title">LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISCING LIQUAM</h2>
                        <div class="sppb-addon-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet, condimentum id nunc. Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem. Etiam scelerisque gravida purus nec interdum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet, condimentum id nunc. Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem.</p>
                            <p><a href="about-us.html#" class="readmore">Read More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="skrill-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="sppb-section-title">
                    <h2 class="sppb-title-heading">ABOUT US</h2>
                    <p class="sppb-title-subheading">We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power and complexity that it literally staggers the imagination.</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="all-sk">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="a-skrill">
                        <div class="ask-title">
                            <h3>OUR SKILLS</h3>
                        </div>
                        <div class="ask-progress-bar wow fadeInDown" data-wow-duration="400ms" data-wow-delay=".3s">
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">WEB DESIGN</span>
                                <div class="sppb_meter">
                                    <div style="width:95%" data-width="95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>95%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">PHP/JAVASCRIPT</span>
                                <div class="sppb_meter">
                                    <div style="width:85%" data-width="85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>85%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">HTML5/CSS3</span>
                                <div class="sppb_meter">
                                    <div style="width:70%" data-width="70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">WORDPRESS</span>
                                <div class="sppb_meter">
                                    <div style="width:92%" data-width="85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>92%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sppb-progress vina-progress-bar">
                                <span class="sppb_label">JOOMLA</span>
                                <div class="sppb_meter">
                                    <div style="width:100%" data-width="100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="sppb-progress-bar sppb-progress-bar-primary sppb-progress-bar-striped wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                                        <span>100%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="sk-tab-area">
                        <div class="ask-title">
                            <h3>OUR EXPERIENCES</h3>
                        </div>
                        <div class="sk-tab wow fadeInDown" data-wow-duration="400ms" data-wow-delay=".6s">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="about-us.html#vision" aria-controls="vision" role="tab" data-toggle="tab"> OUR VISION</a></li>
                                <li role="presentation"><a href="about-us.html#mission" aria-controls="mission" role="tab" data-toggle="tab"> OUR MISSION</a></li>
                                <li role="presentation"><a href="about-us.html#results" aria-controls="results" role="tab" data-toggle="tab"> OUR RESULTS</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="vision">
                                    <p>We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious.</p>
                                    <p>Our subconscious mind contains such power subconscious mind contains such power and complexity that it literally.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="mission">
                                    <p>you to your second mind, the hidden and mysterious subconscious We possess within us two minds. So far I have written only of the conscious n only of the conscious mind. I would now like to introduce.</p>
                                    <p>Our subconscious mind contains such power and complexity that it literally.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="results">
                                    <p>two minds. So far I have written only of the conscious We possess within us mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious.</p>
                                    <p>Our subconscious mind contains such power and complexity that it literally.</p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="sk-works-area">
                        <div class="ask-title">
                            <h3>OUR WORKS</h3>
                        </div>
                        <div class="single-sk-works wow fadeInDown" data-wow-duration="400ms" data-wow-delay=".9s">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="about-us.html#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                WHERE WE ARE
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="about-us.html#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                WHO WE ARE
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="about-us.html#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                WHY ARE WE DOING THIS
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="sppb-section-title">
                    <h2 class="sppb-title-heading">CREATIVE TEAM</h2>
                    <p class="sppb-title-subheading">We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power and complexity that it literally staggers the imagination.</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay=".3s">
                        <div class="team-thumb">
                            <img src="~/img/team/1.jpg" alt="">
                        </div>
                        <h3>Joeby Ragpa <br> <span>CEO of company</span></h3>
                        <div class="st-ditele">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
                            <div class="all-social-icons">
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Facebook" class="black-tooltip"><i class="fa fa-facebook"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Twitter" class="black-tooltip"><i class="fa fa-twitter"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Google-plus" class="black-tooltip"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay=".6s">
                        <div class="team-thumb">
                            <img src="~/img/team/2.jpg" alt="">
                        </div>
                        <h3>Alexander Samokhin<br> <span>Creative developer</span></h3>
                        <div class="st-ditele">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
                            <div class="all-social-icons">
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Facebook" class="black-tooltip"><i class="fa fa-facebook"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Twitter" class="black-tooltip"><i class="fa fa-twitter"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Google-plus" class="black-tooltip"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay=".9s">
                        <div class="team-thumb">
                            <img src="~/img/team/3.jpg" alt="">
                        </div>
                        <h3>Jomelle Chuan <br> <span>CEO / founder</span></h3>
                        <div class="st-ditele">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
                            <div class="all-social-icons">
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Facebook" class="black-tooltip"><i class="fa fa-facebook"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Twitter" class="black-tooltip"><i class="fa fa-twitter"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Google-plus" class="black-tooltip"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="single-team wow fadeInLeft" data-wow-duration="400ms" data-wow-delay="1.2s">
                        <div class="team-thumb">
                            <img src="~/img/team/4.jpg" alt="">
                        </div>
                        <h3>Nirob khan <br> <span>Lead designer</span></h3>
                        <div class="st-ditele">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
                            <div class="all-social-icons">
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Facebook" class="black-tooltip"><i class="fa fa-facebook"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Twitter" class="black-tooltip"><i class="fa fa-twitter"></i></a>
                                <a href="about-us.html#" data-toggle="tooltip" data-placement="top" title="Google-plus" class="black-tooltip"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
<!-- Page-content area End  -->